<h2>よくある質問</h2>

<details class="qa-007">
    <summary>成央学院の入塾までの流れを教えてください</summary>
     <p> 成央学院047-465-1108までお電話をください</p>
        <div>①担当よりご家庭にご連絡させていただき、体験授業や教室見学の日程や時間帯をご相談します。</div>
        <div>②体験授業もしくは授業見学を実施します。※必ず体験授業もしくは授業見学をして頂きます</div>
        <div>③ご納得いただきましたら入塾する旨のお電話をお願いします。※成央学院から入塾を勧誘するお電話は一切いたしません</div>
        <div>④ご家族さまとのご面談で入塾申込書や書類のお渡し、通塾する曜日などを決定します。(※電話で行われる場合もあります)</div>
        <div>⑤入塾スタートします。</div>
    
</details>

<details class="qa-007">
    <summary>成央学院の特徴を教えてください</summary>
    <p>大きく２つの特徴があります</p>
    <div>(1) 入塾金は一切かかりません。</div>
    <div>(2) 先生一人に対して生徒は最大で2名。週1回の授業で、小・中学生は5教科対応します。</div>
    
</details>

<details class="qa-007">
    <summary>週1回の通塾で本当に5科目対応できるのですか?</summary>
    <p>できます</p>
    成央学院の小中学生担当講師は、5科目を全て教える事が出来ます。
    なのでいつでも分からない事を質問することが出来ます。
    単純に1コマ100分を5で割るわけではなく、苦手科目に授業時間を多く使い
    わからない問題に迅速に対応することで、確実に成績を伸ばすことが可能です。
</details>

<details class="qa-007">
    <summary>4週、5週ある月がありますが、年間の授業回数はバラバラなんでしょうか？</summary>
    <p>当塾では年間の授業回数調整を行っております</p>
    3月の初めから翌年の2月を1年とし、通常各曜日の授業回数を数えると若干の誤差が出ます。
    そこで、どの曜日で通塾していただいても授業回数が同じになるように各曜日、年間41回授業で年間予定を調整いたしました。
    (※講習会、各補講授業は除く)
    中、高生は通常授業に補講授業を合わせると月平均4回以上の授業となります。
    (※8月は通常授業がありませんので年11ヶ月での計算です)
</details>

<details class="qa-007">
    <summary>雪や台風のような悪天候の時の塾の対応は？</summary>
    <p>ただ、ご家族の皆さまが安全面を考慮し休ませた方がよいと感じた場合は、ご家族さまより欠席のご連絡をください。
    後日、代替授業を実施いたします。</p>
</details>









