// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jikan{
    border-collapse:separate;
    border-spacing: 5px;
    width: 100%;
  }
  
  .jikan th, .jikan td{
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
  }
  
  .jikan th{
    background-color: #51a5cf;
    color: white;
    border:solid 1px #b3cfe4;
  }
  
  .jikan td{
    background-color: #cfeff0;
    border:solid 1px #af9d85;
  }

.heading-015 {
    display: inline-block;
    position: relative;
    padding: .5em 1em;
    border-right: 27px solid #25aed0;
    background-color: #f5f5f5;
    color: #333333;
}

.heading-015::before {
    position: absolute;
    bottom: 2px;
    right: -20px;
    z-index: -1;
    transform: rotate(5deg);
    width: 100%;
    height: 50%;
    background-color: #d0d0d0;
    content: "";
    filter: blur(4px);
}

.jikan th div{
color: #25d036;
}

.course {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
 }
 .course th {
  padding: 10px;
  background: #e9faf9;
  border: solid 1px #778ca3;
 }
 .course td {
  padding: 10px;
  border: solid 1px #778ca3;
 }

 
 